pandas==2.1.3
numpy==1.24.3
matplotlib==3.8.2
seaborn==0.13.0
nltk==3.8.1
textblob==0.17.1
praw==7.7.0
requests==2.31.0
scikit-learn==1.3.2
scipy==1.11.4
